{% extends "base.html"}

{% block content %}
	{% block h1 %}{{book.title}}{% endblock %}
	Authors:
	<ul>
		{% for author in book.authors %}
			<li>{{author.name}}</li>
		{% endfor %}
	</ul>
	
	Publisher: {{book.publisher}}
	
	Description: {{book.discription}}

	Pages: {{book.pages}}
	<ul>
		{% for genre in book_genre %}
			<li>{{genre.name}} </li>
		{% endfor %}
	</ul>
	
	In stock: {{book.num_in_stock}}

	<a href = 'book/modify/{{book.book_id}}/'>Modify</a>&nbsp;&nbsp;&nbsp;
	<a href = 'book/delete/{{book.book_id}}/'>Delete</a>&nbsp;&nbsp;&nbsp;
	
{% endblock %}
	