{% extends "carberryt9/base.html" %}

{% block content %}
{% if user %}
Current user logged in {{user}}
{% endif %}
<h2>{{book.title}}</h2>
	Authors:
	<ul>
		{% for author in book.authors %}
			<li>{{author.first_name}} {{author.last_name}}</li>
		{% endfor %}
	</ul>
	
	Publisher: {{book.publisher.name}}
	<br/>
	Description: {{book.description}}
	<br/>
	Pages: {{book.pages}}
	<br/>
	Genres: 
	<ul>
		{% for genre in book.genres %}
			<li>{{genre.name}} </li>
		{% endfor %}
	</ul>
	
	Release Year: {{book.release_year}}
	<br/>
	
	Price: {{'${:,.2f}'.format(book.price)}}
	<br/>

	In stock: {{book.num_in_stock}}
<p></p>
	{% if current_user_id == 0 %}
	<a href = '/carberryt9/book/modify/{{book.book_id}}/'>Modify</a>&nbsp;&nbsp;&nbsp;
	<a href = '/carberryt9/book/delete/{{book.book_id}}/'>Delete</a>&nbsp;&nbsp;&nbsp;
	{% else %}
	<a href = '/carberryt9/addToWishList/rowan_{{book.book_id}}/'>Add to Wish List</a> &nbsp;&nbsp;
	<a href = '/carberryt9/addToCart/rowan_{{book.book_id}}/'>Add to Cart</a> &nbsp;&nbsp;
	{% endif %}
{% endblock %}
	