{% extends "base.html" %}

{% block content %}
	<form action = "{{url_for('modify_book', bookId=book.book_id) }}" method ='POST'>
		<label for='title'>Book Title: </label>
		<input type='text' size = '50' name='title' value='{{book.title}}'/>
		<br/>
		Authors:
		<ul>
			{% for author in book.authors %}
				<label for='author'>Author: </label>
				<input type='text' size='50' name='author' value='{{author.name}}'/>
			{% endfor %}
		</ul>

		<label for='publisher'>Publisher: </label>
		<input type='text' size = '50' name='publisher' value='{{book.publisher.name}}'/>

		<br/>
		<label for='description'>Description: </label>
		<input type='textarea' size='200' name='description' value='{{book.description}}'/>

		<br/>
		<label for='pages'>Pages: </label>
		<input type='text' size='20' name='pages' value='{{book.pages}}'/>

		<br/>
		<label for='stock'>In stock: </label>
		<input type='text' size='20' name='stock' value='{{book.num_in_stock}}'/>

		<br/>
		<input type='submit' />
	</form>

{% endblock %}
	