{% extends "base.html" %}

{% block content %}
	<form action = "{{url_for('modify_book', bookId=book.book_id) }}" method ='POST'>
		<label for='title'>Book Title: </label>
		<input type='text' size = '50' name='title' value='{{book.title}}'/>
		<br/>

		<label for='author_name'>Author(s): </label>
		{% for author in book.authors %}
			<select name="author_id_{{author.author_id}}">
				<option value="0" >Delete author</option>
				{% for currentAuthor in allAuthors %}
					{% if currentAuthor.author_id == author.author_id %}
						<option value="{{currentAuthor.author_id}}" selected> {{currentAuthor.first_name}} {{currentAuthor.last_name}}</option>
					{% else %}
						<option value="{{currentAuthor.author_id}}" > {{currentAuthor.first_name}} {{currentAuthor.last_name}}</option>
					{% endif %}
				{% endfor %}
			</select>
		{% endfor %}
		<select name="new_author">
			<option value="0" selected>Add new author</option>
			{% for currentAuthor in allAuthors %}
				<option value="{{currentAuthor.author_id}}" > {{currentAuthor.first_name}} {{currentAuthor.last_name}}</option>
			{% endfor %}
		</select>
		<br/>
		<label for='publisher'>Publisher: </label>
		<input type='text' size = '50' name='publisher' value='{{book.publisher.name}}'/>

		<br/>
		<label for='description'>Description: </label>
		<input type='textarea' size='200' name='description' value='{{book.description}}'/>

		<br/>
		<label for='pages'>Pages: </label>
		<input type='text' size='20' name='pages' value='{{book.pages}}'/>

		<br/>
		<label for='stock'>In stock: </label>
		<input type='text' size='20' name='stock' value='{{book.num_in_stock}}'/>

		<br/>
		<input type='submit' />
	</form>

{% endblock %}
	