{% extends "base.html" %}

{% block content %}
<h2>{{item.name}}</h2>
<p>{{item.description}}</p>
<p>{{'${:,.2f}'.format(item.cost)}}</p>
<br/>


{% if item.rating != None %}
<p>Rating: {{"{:.2f}".format(item.rating)}}</p>
<p>Smart Rating™️: {{"{:.2f}".format(item.smart_rating)}}</p>
{% else %}
<p>No reviews yet</p>
{% endif %}

<form action="/rate_item/{{item.id}}" method="post">
  Num Stars:
  <input type="number" name="stars" min="1" max="5" value="{{my_rating}}">
  <input type="submit" value="Rate">
</form>

{% if on_wishlist %}
<form action="/remove_from_wishlist/{{item.id}}" method="post">
  <input type="submit" value="Remove from wishlist">
</form>
{% else %}
<form action="/add_to_wishlist/{{item.id}}" method="post">
  <input type="submit" value="Add to wishlist">
</form>
{% endif %}

<form action="/add_to_cart/{{item.id}}" method="post">
  Quantity:
  <input type="number" name="quantity" min="1" max="10" value="1">
  <input type="submit" value="Add to cart">
</form>


{% endblock %}
	