{% extends "base.html" %}

{% block content %}
	<form action = "{{ url_for('insert_book') }}" method ='POST'>
		<label for='title'>Book Title: </label>
		<input type='text' size = '50' name='title' value=''/>
		<br/>
		Authors:

		<label for='author_id'>Author: </label>
		<input type='text' size = '50' name='author_id' value=''/>

		<br/>
		<label for='publisher'>Publisher: </label>
		<input type='text' size = '50' name='publisher' value=''/>
	<br/>
		<label for='description'>Description: </label>
		<input type='textarea' size = '200' name='description' value=''/>

		<br/>
		<label for='pages'>Pages: </label>
		<input type='text' size = '20' name='pages' value=''/>
	<br/>
		<label for='stock'>In stock: </label>
		<input type='text' size = '20' name='num_in_stock' value=''/>
		<br/>

		<br/>
		<label for='price'>Price: </label>
		<input type='text' size = '20' name='price' value=''/>

		<label for='release_year'>Release year: </label>
		<input type='text' size = '20' name='release_year' value=''/>
		<br/>

		<input type='submit' />
	</form>

{% endblock %}
	