{% extends "base.html" %}

{% block content %}
<h2>View Cart</h2>

	<ul>
		{% for item in cart %}
			<li><a href = '/item/{{item.id}}/'>{{item.name.capitalize()}}</a> {{'${:,.2f}'.format(item.cost)}} each --- Quantity: {{item.quantity}}</li>
		<form action="/remove_from_cart/{{item.id}}" method="post">
  			<input type="submit" value="Remove From Cart">
		</form>

		{% endfor %}


	</ul>

{% if not cart %}
        <p>Your cart is empty</p>
<a href = '/shop/'>Go buy some stuff!</a>

{% else %}
<form action="/checkout/" method="post">
  <input type="submit" value="Checkout">
</form>
    {% endif %}
	
{% endblock %}
	