<!DOCTYPE HTML>
<html>
	<head>
		<title>Rowan Bookstore</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/carberryt9/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/carberryt9/static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<div class="content">
					<h1><a href="#">Rowan Bookstore</a></h1>
					<p>Buy everything you need.<br />
					Now partnering with outside vendors!</p>
					<ul class="actions">
						<li><a href="shop" class="button primary icon fa-shopping-cart">Shop</a></li>
						<li><a href="admin" class="button icon fa-lock scrolly">Admin</a></li>
					</ul>
				</div>
				<div class="image"><div class="inner"><img src="/carberryt9/static/images/screen.png" alt="" /></div></div>
			</header>

		<!-- One -->
			<section id="one" class="wrapper style2 special">
				<header class="major">
					<h2>Grad DB 2018<br />
					Made by: Jatin Bhakta, Stanimir Genov, and Tyler Carberry</h2>
				</header>

			</section>


		<!-- Scripts -->
			<script src="/carberryt9/static/assets/js/jquery.min.js"></script>
			<script src="/carberryt9/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/carberryt9/static/assets/js/browser.min.js"></script>
			<script src="/carberryt9/static/assets/js/breakpoints.min.js"></script>
			<script src="/carberryt9/static/assets/js/util.js"></script>
			<script src="/carberryt9/static/assets/js/main.js"></script>

	</body>
</html>